@mixin box-sizing($box-mod) {
    -webkit-box-sizing: $box-mod;
    -moz-box-sizing: $box-mod;
    box-sizing: $box-mod;
}

@mixin background($bg_color, $c) {
    background-color: $bg_color;
    color: $c;
}

@mixin fontsize_padding($fs, $p) {
    font-size: $fs;
    padding: $p;
}

@mixin width_margin($w, $m) {
    width: $w;
    margin: $m;
}

@mixin col-x {
    @for $x from 1 through 4 {
        $w: percentage(1 / $x);
        .col-#{$x} {
            width: $w;
        }
    }
}

