$width_small: 700px;
$width_medium: 900px;
$width_large: 1400px;
@mixin respond_to($media) {
    @if $media==small_screen {
        @media all and (min-width: $width_small + 1) and (max-width: $width_medium) {
            @content;
        }
    }
    @else if $media==medium_screen {
        @media all and (min-width: $width_medium + 1) and (max-width: $width_large) {
            @content;
        }
    }
    @else if $media==wide_screen {
        @media all and (min-width: $width_large + 1) {
            @content;
        }
    }
}

@mixin extend_icon {
    display: inline;
    vertical-align: baseline;
    float: none;
    font-size: $media_font_size;
    line-height: 6.3968rem;
    ~ span {
        float: none;
        letter-spacing: 0.25rem;
        font-size: $medium_font_size;
        text-align: left;
    }
}

@mixin extend_nav {
    position: static;
    clear: both;
    width: 100%;
    padding: 0;
}

@mixin extend_ul_li {
    width: 20%;
    float: left;
}

@mixin extend_a {
    line-height: 2rem;
    border: none;
    border-left: 1px solid $light_grey;
    background-color: $white;
}

@mixin section_content {
    h4 {
        font-size: $regular_font_size;
    }
    li {
        font-size: $regular_font_size;
    }
}

@include respond_to(small_screen) {
    header {
        @include width_margin(700px, 0 auto);
        min-height: 8rem;
        &:before,
        &:after {
            width: 230px;
        }
        h1 {
            width: 100%;
            color: $dark_brown;
            i.fa-lg {
                @include extend_icon;
                color: $dark_brown;
            }
        }
        nav {
            @include extend_nav;
            ul li {
                @include extend_ul_li;
                a {
                    @include extend_a;
                    @include fontsize_padding($content_font_size, 1.0rem);
                    min-height: 6rem;
                    &:last-child {
                        border-right: 1px solid $light_grey;
                    }
                }
            }
        }
    }
    section.focal,
    section.content1,
    section.content2,
    footer {
        @include width_margin(700px, 0 auto);
    }
    .col-4 {
        width: 50%;
        float: left;
    }
    section {
        &.content2 {
            @include section_content;
        }
    }
    footer {
        .fa-circle {
            color: $med_blue;
        }
        .col-2:last-child {
            unicode-bidi: bidi-override;
            direction: rtl;
        }
        h4[lang=ar] {
            display: block;
        }
        h4[lang=de],
        h4[lang=en],
        h4[lang=ru] {
            display: none;
        }
    }
}

@include respond_to(medium_screen) {
    header {
        @include width_margin(900px, 0 auto);
        &:before,
        &:after {
            width: 300px;
        }
        h1 {
            width: 100%;
            color: $dark_blue;
            i.fa-lg {
                @include extend_icon;
                color: $dark_blue;
            }
        }
        nav {
            @include extend_nav;
            ul li {
                @include extend_ul_li;
                background-color: $white;
                a {
                    @include extend_a;
                    @include fontsize_padding($content_font_size, 0rem 1rem);
                    min-height: 2rem;
                    margin: 1.0rem 0;
                }
                &:first-child {
                    a {
                        border-left: none;
                    }
                }
            }
        }
    }
    section.focal,
    section.content1,
    section.content2,
    footer {
        @include width_margin(900px, 0 auto);
    }
    section {
        &.focal {
            h2,
            p.author {
                @include width_margin(600px, 0 auto);
            }
        }
        &.content1 {
            h3 {
                font-size: $small_font_size;
                font-weight: 100;
                .fa-2x {
                    font-size: $small_font_size;
                    padding-right: 1rem;
                }
            }
        }
        &.content2 {
            @include section_content;
            p {
                font-size: $content_font_size;
                font-weight: 400;
            }
        }
    }
    .col-3 {
        width: 30%;
        margin-left: 5%;
        &:first-child {
            margin-left: 0;
        }
    }
    .col-4 {
        width: 22%;
        margin-left: 4%;
        &:first-child {
            margin-left: 0;
        }
    }
    footer {
        .fa-circle {
            color: $light_brown;
        }
        h4[lang=ru] {
            display: block;
        }
        h4[lang=de],
        h4[lang=ar],
        h4[lang=en] {
            display: none;
        }
    }
}

@include respond_to(wide_screen) {
    header {
        @include width_margin(1400px, 0 auto);
        &:before,
        &:after {
            width: 450px;
        }
        h1 {
            width: 100%;
            color: $dark_brown;
            i.fa-lg {
                @include extend_icon;
                color: $dark_brown;
            }
        }
        nav {
            @include extend_nav;
            ul li {
                @include extend_ul_li;
                background-color: $white;
                a {
                    @include extend_a;
                    @include fontsize_padding($regular_font_size, 0 1.0rem);
                    min-height: 2rem;
                    margin: 1.0rem 0;
                }
                &:first-child {
                    a {
                        border-left: none;
                    }
                }
            }
        }
    }
    section.focal,
    section.content1,
    section.content2,
    footer {
        @include width_margin(1400px, 0 auto);
    }
    section {
        &.focal {
            h2 {
                font-size: $medium_font_size;
                @include width_margin(600px, 0 auto);
            }
            p.author {
                @include width_margin(600px, 0 auto);
            }
        }
        &.content1 {
            h3 {
                font-size: $content_medium_font_size;
                font-weight: 100;
            }
            .fa-2x {
                font-size: $content_medium_font_size;
                padding-right: 1rem;
                vertical-align: middle;
            }
        }
        &.content2 {
            h4 {
                font-size: $small_font_size;
            }
            li {
                font-size: $small_font_size;
            }
            p {
                font-size: $regular_font_size;
                font-weight: 400;
            }
        }
    }
    .col-3 {
        width: 30%;
        margin-left: 5%;
        &:first-child {
            margin-left: 0;
        }
    }
    .col-4 {
        width: 22%;
        margin-left: 4%;
        &:first-child {
            margin-left: 0px;
        }
    }
    footer {
        p {
            font-size: $regular_font_size;
            letter-spacing: 0.2rem;
            &:last-child {
                color: $light_grey;
            }
        }
        .fa-circle {
            color: $med_blue;
        }
        h4[lang=en] {
            display: block;
        }
        h4[lang=de],
        h4[lang=ar],
        h4[lang=ru] {
            display: none;
        }
    }
}