$light_blue: #C7F7FF;
$med_blue: #89C0C9;
$dark_blue: #3a5E63;
$light_brown: #C9A689;
$dark_brown: #7C593C;
$light_grey: #d4d4d4;
$dark_grey: #222;
$white: #ffffff;
$black: #000000;


$body_font_size: 16px;
$body_font_family: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$heading_font_family: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

$content_font_size: 1rem;
$regular_font_size: 1.414rem;
$large_font_size: 7rem;
$medium_font_size: 3.998rem;
$small_font_size: 1.999rem;
$media_font_size: 4rem;
$content_medium_font_size: 2.827rem;