// main SASS file
@import '_mixins';
@import '_variables';
//Quwery in last
//@import '_queries';
//general
* {
    padding: 0;
    margin: 0;
    @include box-sizing(border-box);
}

*:after,
*:before {
    @include box-sizing(inherit);
}

//html
html {
    font-size: $body_font_size;
    font-family: $body_font_family;
    line-height: 1.6;
}

//clearfix
.clearfix {
    &:after {
        display: table;
        clear: both;
        content: "";
    }
}

//header text
h1,
h2,
h3,
h4 {
    font-family: $heading_font_family;
    /* serif for the headings */
}

//default width
.defaultWidth_center {
    width: 400px;
    /* default */
    margin: 0 auto;
}

//backgrounds
.bg-header {
    @include background($light_bl_color, $dark_gr_color);
    border-top: 1rem solid $dark_bl_color;
    border-bottom: 1rem solid $med_bl_color;
    position: relative;
    &:before,
    &:after {
        width: 30%;
        height: 1rem;
        background-color: $dark_bl_color;
        content: "";
        position: absolute;
        bottom: -1rem;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}

.bg-content1 {
    @include background($wh_color, $dark_gr_color);
}

.bg-content2 {
    @include background($light_bl_color, $dark_bl_color);
}

.bg-focal {
    @include background($light_br_color, $dark_br_color);
}

.bg-footer {
    @include background($wh_color, $light_gr_color);
}

//header
header {
    @extend .defaultWidth_center;
    position: relative;
    h1 {
        padding: 0 2rem;
        width: 100%;
    }
    nav {
        width: 100%;
    }
    ul li {
        float: none;
        width: 100%;
    }
}

// Header Nav 
header {
    nav {
        padding: 2rem 0;
        clear: both;
        ul > li > a {
            display: block;
            text-align: center;
            text-decoration: none;
            @include background($wh_color, $dark_gr_color);
            @include fontsize_padding($regular_font_size, 1.0rem 2rem);
            letter-spacing: 0.25rem;
            border: 1px solid $light_gr_color;
            border-bottom: none;
            line-height: 1;
            &:hover {
                font-weight: 700;
                color: $dark_br_color;
            }
        }
    }
}

//Header Content
header {
    h1 {
        color: $dark_br_color;
        letter-spacing: 0.1rem;
    }
    i.fa-lg {
        display: block;
        width: 25%;
        float: left;
        font-size: $large_font_size;
        line-height: 12.7936rem;
        color: $light_br_color;
        ~span {
            float: right;
            width: 75%;
            font-size: $medium_font_size;
            padding-left: 1rem;
            text-align: right;
        }
    }
}

//section
section {
    &.focal {
        @extend .defaultWidth_center;
    }
    &.content1,
    &.content2 {
        padding: 2rem 0;
    }
}

//list
ul {
    list-style: none;
}

//row
.row {
    clear: both;
}

//col all
[class*="col-"] {
    float: left;
}

@include col-x;
.col-2 {
    ;
    padding-bottom: 2rem;
    border-left: 1px solid $dark_bl_color;
    margin-bottom: 2rem;
}

//focal
.focal {
    h2 {
        @include fontsize_padding($small_font_size, 2rem 2rem 1rem 2rem);
        line-height: 1.2;
    }
    .author {
        @include fontsize_padding($content_font_size, 0.2rem 2rem 2rem);
    }
}

//content
.content1 {
    h3 {
        @include fontsize_padding($small_font_size, 0.2rem 2rem 2rem);
    }
    i {
        vertical-align: middle;
        padding-right: 2rem;
    }
    p {
        @include fontsize_padding($regular_font_size, 0.5rem 2rem 2rem);
    }
}

.content2 {
    h3 {
        @include fontsize_padding($small_font_size, 1rem 2rem 0.5rem);
    }
    h4 {
        @include fontsize_padding($small_font_size, 1rem 2rem 0rem);
    }
    p {
        @include fontsize_padding($regular_font_size, 0.5rem 2rem 1rem);
    }
    li {
        @include fontsize_padding($regular_font_size, 0.5rem 2rem);
    }
}

//footer
footer {
    padding: 2rem 0;
    .col-2:first-child {
        border-left: 0;
    }
}

//footer
footer {
    h4 {
        @include fontsize_padding($regular_font_size, 0.5rem 2rem);
        color: $dark_br_color;
    }
    p {
        @include fontsize_padding($content_font_size, 0.5rem 2rem);
        color: $dark_gr_color;
    }
    .fa-circle {
        color: $dark_gr_color;
    }
    footer h4[lang=de] {
        display: block;
    }
    footer h4[lang=en],
    footer h4[lang=ar],
    footer h4[lang=ru] {
        display: none;
    }
}

//media query - responsivness
@import '_queries';